In [62]:
import pandas as pd
df = pd.read_csv(r"C:\Users\agus_\OneDrive\Documentos\Curso_Data_Science_1_CH\Proyecto_final_DS_1\Dataset_1\dataset_1_credit_card_churn.csv")
df.head()
df.columns
df.dtypes

CLIENTNUM                                                                                                                               int64
Attrition_Flag                                                                                                                         object
Customer_Age                                                                                                                            int64
Gender                                                                                                                                 object
Dependent_count                                                                                                                         int64
Education_Level                                                                                                                        object
Marital_Status                                                                                                                         object
Income_Category                                                                                                                        object
Card_Category                                                                                                                          object
Months_on_book                                                                                                                          int64
Total_Relationship_Count                                                                                                                int64
Months_Inactive_12_mon                                                                                                                  int64
Contacts_Count_12_mon                                                                                                                   int64
Credit_Limit                                                                                                                          float64
Total_Revolving_Bal                                                                                                                     int64
Avg_Open_To_Buy                                                                                                                       float64
Total_Amt_Chng_Q4_Q1                                                                                                                  float64
Total_Trans_Amt                                                                                                                         int64
Total_Trans_Ct                                                                                                                          int64
Total_Ct_Chng_Q4_Q1                                                                                                                   float64
Avg_Utilization_Ratio                                                                                                                 float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1    float64
Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2    float64
dtype: object

In [ ]:
#Contar la cantidad de valores Unknown por columna

lista = df.columns
cuenta = []
for i in lista:
     cuenta.append(len(df[df[i] == "Unknown"])) 
print(cuenta)
df1 = pd.DataFrame({"columna":lista, "Cantidad_Unknown":cuenta})

#Solo 3 columnas tienen valores Unknown:
#Education_level = 1519
#Marital_status = 749
#Income_Category = 1112

[0, 0, 0, 0, 0, 1519, 749, 1112, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [64]:
df2 = df.describe().round(1)
print(df2)

         CLIENTNUM  Customer_Age  Dependent_count  Months_on_book  \
count      10127.0       10127.0          10127.0         10127.0
mean   739177606.3          46.3              2.3            35.9
std     36903783.5           8.0              1.3             8.0
min    708082083.0          26.0              0.0            13.0
25%    713036770.5          41.0              1.0            31.0
50%    717926358.0          46.0              2.0            36.0
75%    773143533.0          52.0              3.0            40.0
max    828343083.0          73.0              5.0            56.0

       Total_Relationship_Count  Months_Inactive_12_mon  \
count                   10127.0                 10127.0
mean                        3.8                     2.3
std                         1.6                     1.0
min                         1.0                     0.0
25%                         3.0                     2.0
50%                         4.0                     2.0
75%                         5.0                     3.0
max                         6.0                     6.0

       Contacts_Count_12_mon  Credit_Limit  Total_Revolving_Bal  \
count                10127.0       10127.0              10127.0
mean                     2.5        8632.0               1162.8
std                      1.1        9088.8                815.0
min                      0.0        1438.3                  0.0
25%                      2.0        2555.0                359.0
50%                      2.0        4549.0               1276.0
75%                      3.0       11067.5               1784.0
max                      6.0       34516.0               2517.0

       Avg_Open_To_Buy  Total_Amt_Chng_Q4_Q1  Total_Trans_Amt  Total_Trans_Ct  \
count          10127.0               10127.0          10127.0         10127.0
mean            7469.1                   0.8           4404.1            64.9
std             9090.7                   0.2           3397.1            23.5
min                3.0                   0.0            510.0            10.0
25%             1324.5                   0.6           2155.5            45.0
50%             3474.0                   0.7           3899.0            67.0
75%             9859.0                   0.9           4741.0            81.0
max            34516.0                   3.4          18484.0           139.0

       Total_Ct_Chng_Q4_Q1  Avg_Utilization_Ratio  \
count              10127.0                10127.0
mean                   0.7                    0.3
std                    0.2                    0.3
min                    0.0                    0.0
25%                    0.6                    0.0
50%                    0.7                    0.2
75%                    0.8                    0.5
max                    3.7                    1.0

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1  \
count                                            10127.0
mean                                                 0.2
std                                                  0.4
min                                                  0.0
25%                                                  0.0
50%                                                  0.0
75%                                                  0.0
max                                                  1.0

       Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
count                                            10127.0
mean                                                 0.8
std                                                  0.4
min                                                  0.0
25%                                                  1.0
50%                                                  1.0
75%                                                  1.0
max                                                  1.0

In [ ]:
df.groupby("Marital_Status").mean(numeric_only= True).round(1)

,CLIENTNUM,Customer_Age,Dependent_count,Months_on_book,Total_Relationship_Count,Months_Inactive_12_mon,Contacts_Count_12_mon,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
Marital_Status,,,,,,,,,,,,,,,,,
Divorced,740876575.7,45.1,2.4,35.1,3.9,2.3,2.4,9358.6,1156.0,8202.6,0.8,4529.1,66.9,0.7,0.3,0.2,0.8
Married,739053269.7,46.7,2.4,36.2,3.8,2.3,2.5,8076.7,1197.2,6879.5,0.8,4173.4,61.7,0.7,0.3,0.2,0.8
Single,738735937.9,46.2,2.3,35.9,3.8,2.4,2.5,8999.7,1124.2,7875.4,0.7,4594.6,67.8,0.7,0.3,0.2,0.8
Unknown,740584062.0,45.6,2.5,35.2,3.8,2.3,2.4,9445.3,1157.7,8287.5,0.7,4720.0,67.1,0.7,0.3,0.2,0.8